# Google Services
app/google-services.json

# Built application files
*.apk
*.aab
*.ap_
*.dex
*.class

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.hprof

# Gradle
.gradle/
/build/
*/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache